.field-time {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 5rem;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        cursor: pointer;
    }

    label {
        position: absolute;
        background-color: $white;
        cursor: pointer;
        height: 100%;
        width: 100%;
        z-index: 1;
        padding: 1.5rem 2rem;
        transition: 1s;
    }

    label:hover {
        width: 50%;
        margin-left: 35%;
        color: $blue;
        font-size: 1.2rem;
        background-color: transparent;
        
        @include mobile {
            font-size: 1.5rem;
            padding-right: 0;
            padding-top: 1.8rem;
        }
    }

    .hover-border::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 4px;
        width: 0;
        background-color: $blue;
        transition: 1s;
        z-index: 1;
    }
    
    label:hover ~ .hover-border::before,
    label:hover ~ .hover-border-2::before{
        width: 100%;
    }

    .hover-border::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 4px;
        height: 0;
        background-color: $blue;
        z-index: 1;
        transition: 1s;
    }

    label:hover ~ .hover-border::after,
    label:hover ~ .hover-border-2::after {
        height: 100%;
    }

    .hover-border-2::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        background-color: $blue;
        z-index: 1;
        transition: 1s;
    }

    .hover-border-2::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        height: 0;
        width: 4px;
        background-color: $blue;
        z-index: 1;
        transition: 1s;
    }
}

input.selected ~ .hover-border::after,
input.selected ~ .hover-border-2::after,
input:focus ~ .hover-border::after,
input:focus ~ .hover-border-2::after {
    height: 100%;
}

input.selected ~ .hover-border::before,
input.selected ~ .hover-border-2::before,
input:focus ~ .hover-border::before,
input:focus ~ .hover-border-2::before {
    width: 100%;
}

input.selected ~ label,
input:focus ~ label {
    width: 50%;
    margin-left: 35%;
    color: $blue;
    font-size: 1.2rem;
    background-color: transparent;
    
    @include mobile {
        font-size: 1.5rem;
        padding-right: 0;
        padding-top: 1.8rem;
    }
}

input.correct ~ .hover-border::before,
input.correct ~ .hover-border-2::before,
input.correct ~ .hover-border::after,
input.correct ~ .hover-border-2::after {
    background-color: $green;
}

input.correct ~ label {
    color: $green !important;
}

input.wrong ~ .hover-border::before,
input.wrong ~ .hover-border-2::before,
input.wrong ~ .hover-border::after,
input.wrong ~ .hover-border-2::after {
    background-color: $red;
}

input.wrong ~ label {
    color: $red !important;
}

input.chosen ~ label {
    font-weight: $bold;
}