.section {
    display: none;

    p {
        color: $white;
        font-size: 1.6rem;
        text-align: center;

        @include mobile {
            font-size: 2rem;
        }
    }

    .button-container {
        display: flex;        
        margin-top: 2.68rem;

        &.first-page {
            justify-content: flex-end;
        }

        &.middle-page {
            justify-content: space-between;
        }

        &.last-page {
            justify-content: flex-start;
        }

    }

    .button {
        background-color: $blue;
        text-align: center;
        width: 40%;
        color: $white;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: 1.8rem;
        padding: $gap/6;

        @include mobile {
            width: 30%;
            font-size: 2rem;
        }
    }

    &.selected {
        display: block;
    }
}