.list-services {
    @include mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gap/2;
    }
}

.service {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $gap/2 0;
    cursor: pointer;

    &:not(:last-of-type) {
        margin-bottom: $gap/2;

        @include mobile {
            margin-bottom: 0;
        }
    }

    
    .service__name {
        margin: 0;
    }

    .service__price {
        font-weight: $bold;
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.service--selected {
    background-color: $blue;

    .service__name {
        color: $white;
    }

    .service__price {
        color: $white;
    }
}

.service--not-selected {
    background-color: $white;

    .service__name {
        color: $black;
    }

    .service__price {
        color: $blue;
    }
}